<a href="https://colab.research.google.com/github/JunHyeok-Navy/deep_learning/blob/main/pandas%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

df = pd.DataFrame(
    {"a" : [4,5,6],
     "b" : [7,8,9],
     "c" : [10,11,12]},
     index = [1,2,3]
)

 데이터 프레임을 어떻게 정의할 것인가??
  → 이번 강의에서는 column을 직접 정의해서 (예시. "a":[4,5,6]) 정의하는 방법과
     row를 정의해서 각각을 Index, column로 할당하는 방법을 배웠다.

Index를 확장하여 정의하는 함수 pd.MultiIndex.from_tuples() 를 통해서 내가 원하는 방법으로 Index를 확장해서 정의할 수 있다.

df.loc[] 를 통해 데이터를 뽑아와서 출력할 수 있다. ex) df.loc[[1, 2], ["a", "b"]]   df.loc[[1]]

df

In [19]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [29]:
df.loc[[1]]

   a  b   c
1  4  7  10

In [4]:
df.loc[[1,3], ["a","b"]]

   a  b
1  4  7
3  6  9

In [5]:
df = pd.DataFrame(
    [
     [4,7,10],
     [5,8,11],
     [6,9,12]],
     index = [1,2,3],
     columns=['a', 'b', 'c']
)

In [6]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [7]:
df = pd.DataFrame(
    {"a" : [4,5,6],
     "b" : [7,8,9],
     "c" : [10,11,12]},
     index = pd.MultiIndex.from_tuples(
         [('d', 1), ('d', 2), ('e', 2)],
         names = ['n', 'v']
     )
)

In [8]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12